@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Test automation playground</h1>
    <p class="lead">In this project you can test you GUI automation framework</p>

</div>
